html {
    scroll-behavior: smooth;
  }

.left{
    height: 100vh;
    background-color: #F8F9F9;
    text-align:center;
}

.right{
    height: 100vh;
    background: linear-gradient(90deg, rgba(248,249,249,1) 0%, rgba(43,196,255,1) 100%);
}

.center { 
    height: 100vh;
    position: relative;
}
  
.center p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



.login{
    text-align:center;
    margin-top:30%;
    background-color:white;
}
input{
    padding:4px;
    border:none;
    border-bottom:2px solid white;
    width:50%;
    
    background-color:transparent;
}

input, select, textarea{
    font-family: 'PT Sans', sans-serif;
    font-size:6rem;
}

.mobileInput{
    margin-left:20px;
}

input:focus{
    outline:none;
}

.username{
    padding-bottom:20px;
    
}

.password{
    padding-bottom:20px;
}

.loginTag{
    padding-top:20px;
    text-align: left;
    margin-left:7rem;
    font-size:28px;
    font-weight:300;
    font-family: 'Lobster', cursive;
}

.container{
    text-align:center;
    margin-top:29%;
}

.center .fyp{
    font-size:12px;
    margin-top:-30px;
    text-align:right;
    margin-right:6rem;
}

#signup{
    float:right;
    margin-right:8rem;
    margin-top:20px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

@media (max-width: 510px){
    .signupTag{
        margin-top:100px;
    } 

    input{
        width:60%;
        margin-left:-20px;
    }

    input[type='text'] { font-size: 13px; }

    .mobileInput{
        margin-left:15px;
    }
}

#signUpForm {
    padding-top:50px;
    padding-left:10px;
    display: none;
    margin-top:-160px;
  }

  ::placeholder{
      color:white;
  }